/* CSS Document */

.logo {
    align-items: center;
}
.txtbus {
    width: 450px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    
} 
.asdf {
    padding: 1px;
    border: 1px solid #dfe1e5;
    width: 484px;
    height: 45px;
    border-radius: 24px;
}
    div {
    padding: 15px;
}
.buscar {
    height: 40px;
    width: 200px;
   
}
.doodle {
    margin-top: 183px;
}
.right {
    float: right;
    
    font-size: 12px;
    
}

.left {
   
    font-size: 12px;
    float: left;
}
.foot {
    background-color: lightsteelblue;
    height: 20px;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}